/* ═══════════════════════════
   SETUP 
   ═══════════════════════════ */

/* ⎼⎼⎼ FONTS ⎼⎼⎼ */

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@font-face {
  font-family: 'Minitel';
  src: url('./assets/fonts/Minitel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ⎼⎼⎼ COLORS ⎼⎼⎼ */

:root {
  --color-primary: #9BD0E1;
  --color-dark: rgb(15, 15, 33);
  --error: #F46464;
  --warning: #F4C664;
  --success: #00FF80;
  --success-dark: #0A9751;

}

body {
  background-color: var(--color-dark);
}

/* ⎼⎼⎼ TEXT STYLES ⎼⎼⎼ */

.text-body {
font-family: 'Minitel';
font-size: 14px;
font-style: normal;
font-weight: normal;
line-height: normal;
}

.text-header {
font-family: 'jersey 10', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 0;
margin: 0px;
}

h2 {
  font-size: 1.5em;
  color: inherit;
}