.accordion-header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--color-primary);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: var(--color-primary); 
  background-color: transparent;
  cursor: pointer;
}

.accordion-header:hover {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.left-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-self: flex-start;
}